<h3> View Product Details</h3>
<div>
    <div>
        <label> <b> Product Name: </b></label> {{product.nameProduct}}
    </div>
    <div>
        <label> <b> Product Details: </b></label> {{product.detailsProduct}}
    </div>
    <div>
        <label> <b> Product Price: </b></label> {{product.priceProduct}}
    </div>
    <div>
        <label> <b> Product Category: </b></label> {{product.detailsProduct}}
    </div>
    <div>
        <label> <b> Category Name: </b></label> {{product.category.nameCategory}}
    </div>
</div>