<div class = "row">
    <h2> Product List</h2>
</div>
<button (click) = "createProduct()" class = "btn btn-success"> Add new</button>
<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID </th>
            <th> Name</th>
            <th> Detais </th>
            <th> Price</th>
            <th> Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td> {{ product.idProduct }} </td>
            <td> {{ product.nameProduct }} </td>
            <td> {{ product.detailsProduct }} </td>
            <td> {{ product.priceProduct }} </td>
            <td>{{ product.category.nameCategory}}</td>
            <td>
                <button   (click) ="updateProduct(product.idProduct)"  class = "btn btn-primary"> Update</button>
                <button   (click) ="deleteProduct(product.idProduct)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button   (click) ="productDetails(product.idProduct)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>